{% extends 'main/base.html' %}
{% load static %}

{% block title %}Title{% endblock %}

{% block content %}
<div class="container my-5 full-height">
  <div class="d-flex align-items-center gap-2 mb-4">
    <h2 class="mb-0">Applied Jobs</h2>
    <span>( {{ jobs.paginator.count }} )</span>
  </div>

  <form method="get" class="d-flex gap-2 mb-4 align-items-center" id="filterForm">
    <!-- search -->
    <div class="d-flex gap-2 flex-grow-1">
      <input type="text" name="search" class="form-control" placeholder="Job title, company, work type, location"
        value="{{ search_query }}" style="max-width: 400px;">
      <button type="submit" class="btn btn-primary">Search</button>
    </div>

    <!-- filter -->
    <div>
      <select name="status" class="form-select" onchange="document.getElementById('filterForm').submit()">
        <option value="">All Status</option>
        <option value="pending" {% if status_filter == 'pending' %}selected{% endif %}>Pending</option>
        <option value="accepted" {% if status_filter == 'accepted' %}selected{% endif %}>Accepted</option>
        <option value="rejected" {% if status_filter == 'rejected' %}selected{% endif %}>Rejected</option>
      </select>
    </div>
  </form>

  <!-- table -->
  <div class="table-responsive">
    <table class="table table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th>Job Title</th>
          <th>Job Type</th>
          <th>Date Applied</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        {% for application in jobs %}
        <tr>
          <td class="job-title-cell">
            <div class="d-flex align-items-center gap-3">
              {% if application.job.employer.userprofile.employerprofile.logo %}
                <img src="{{ application.job.employer.userprofile.employerprofile.logo.url }}" 
                  alt="Logo" class="rounded company-logo">
              {% else %}
              <!-- TODO: replace with logo -->
                <img src="{% static 'main/images/hero_bg.png' %}" 
                  alt="No Logo" class="rounded company-logo">
              {% endif %}
              <div class="d-flex flex-column">
                <span class="fw-medium">{{ application.job.title }}</span>
                <span class="mb-0 small text-muted text-truncate" title="{{ application.job.location }}">
                  <i class="bi bi-geo-alt"></i> {{ application.job.location }}
                </span>
              </div>
            </div>
          </td>
          <td>{{ application.job.get_work_type_display }}</td>
          <td>{{ application.applied_at|date:"M d, Y H:i" }}</td>
          <td>
            <span class="badge
                  {% if application.status == 'pending' %}
                      bg-warning
                  {% elif application.status == 'accepted' %}
                      bg-success
                  {% elif application.status == 'rejected' %}
                      bg-danger
                  {% endif %}
                ">
              {{ application.get_status_display }}
            </span>
          </td>
          <td>
            <a href="{% url 'job_detail_full' application.job.id %}" class="btn btn-outline-primary btn-sm"
              target="_blank" rel="noopener noreferrer">
              View Details
            </a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7" rowspan="2" class="text-center py-5">
            No results.
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- pagination -->
  {% if jobs.has_other_pages %}
  <nav>
    <ul class="pagination">
      {% if jobs.has_previous %}
      <li class="page-item">
        <a class="page-link"
          href="?page={{ jobs.previous_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Previous</a>
      </li>
      {% endif %}
      {% for i in jobs.paginator.page_range %}
      <li class="page-item {% if jobs.number == i %}active{% endif %}">
        <a class="page-link"
          href="?page={{ i }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
      </li>
      {% endfor %}
      {% if jobs.has_next %}
      <li class="page-item">
        <a class="page-link"
          href="?page={{ jobs.next_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

</div>
{% endblock %}