{% extends 'main/base.html' %}

{% block title %}Title{% endblock %}

{% block content %}
<div class="container my-5 full-height">
  {% if messages %}
  <div class="mb-3">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <div class="d-flex align-items-center gap-3 mb-4">
    <a href="{% url 'my_jobs' %}" class="btn btn-outline-secondary btn-sm">
      <i class="bi bi-arrow-left"></i>
    </a>
    <h3 class="mb-0">Applicants Overview</h3>
  </div>

  <div class="d-flex align-items-center gap-2 mb-3">
    <h5 class="mb-0">{{ job.title }}</h5>
    <span>( {{ applications.paginator.count }} )</span>
  </div>

  <form method="get" class="d-flex gap-2 mb-4 align-items-center" id="filterForm">
    <!-- search -->
    <div class="d-flex gap-2 flex-grow-1">
      <input type="text" name="search" class="form-control" placeholder="Name, email" value="{{ search_query }}"
        style="max-width: 400px;">

      <button type="submit" class="btn btn-primary">Search</button>
    </div>

    <!-- filter -->
    <div>
      <select name="status" class="form-select" onchange="document.getElementById('filterForm').submit()">
        <option value="">All Status</option>
        <option value="pending" {% if status_filter == 'pending' %}selected{% endif %}>Pending</option>
        <option value="accepted" {% if status_filter == 'accepted' %}selected{% endif %}>Accepted</option>
        <option value="rejected" {% if status_filter == 'rejected' %}selected{% endif %}>Rejected</option>
      </select>
    </div>
  </form>

  <!-- table -->
  <div class="table-responsive">
    <table class="table table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Date Applied</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for app in applications %}
        {% with student=app.applicant.userprofile.studentprofile %}
        <tr>
          <td>{{ student.first_name }} {{ student.last_name }}</td>
          <td>{{ app.applicant.email }}</td>
          <td>{{ app.applied_at|date:"M d, Y H:i" }}</td>
          <td>
            <span class="badge
                  {% if app.status == 'pending' %}
                      bg-warning
                  {% elif app.status == 'accepted' %}
                      bg-success
                  {% elif app.status == 'rejected' %}
                      bg-danger
                  {% endif %}
                ">
              {{ app.get_status_display }}
            </span>
          </td>
          <td>
            <!-- actions -->
            <div class="dropdown">
              <button class="btn btn-sm" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="{{ app.resume.url }}" download>
                    <i class="bi bi-download me-2"></i> Download Resume
                  </a>
                </li>
                {% if app.status == 'pending' %}
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li>
                  <form method="POST" action="{% url 'accept_application' app.id %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item text-success">
                      <i class="bi bi-check-circle me-2"></i> Accept
                    </button>
                  </form>
                </li>
                <li>
                  <form method="POST" action="{% url 'reject_application' app.id %}" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item text-danger">
                      <i class="bi bi-x-circle me-2"></i> Reject
                    </button>
                  </form>
                </li>
                {% endif %}
              </ul>
            </div>
          </td>
        </tr>
        {% endwith %}

        {% empty %}
        <tr>
          <td colspan="7" rowspan="2" class="text-center py-5">
            No results.
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- pagination -->
  {% if applications.has_other_pages %}
  <nav>
    <ul class="pagination">
      {% if applications.has_previous %}
      <li class="page-item">
        <a class="page-link"
          href="?page={{ applications.previous_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Previous</a>
      </li>
      {% endif %}
      {% for i in applications.paginator.page_range %}
      <li class="page-item {% if applications.number == i %}active{% endif %}">
        <a class="page-link"
          href="?page={{ i }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a>
      </li>
      {% endfor %}
      {% if applications.has_next %}
      <li class="page-item">
        <a class="page-link"
          href="?page={{ applications.next_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Next</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  {% endif %}

</div>
{% endblock %}